{% extends 'portfolio/base.html' %}

{% block content %}
    <title>Portfolio Home Page</title>
    {% load static %}

    <img src="{% static 'portfolio/Profile.jpg' %}"/>
    <a href="{% static 'portfolio/Resume.pdf' %}">Resume</a>
    <a href="{% url 'blog:all_blog' %}">All Blog</a>
    <p>Hi this is home page</p>

    {% for project in projects %}

    <h2>{{project.title}}</h2>
    <p>{{project.description}}</p>
    <img src="{{project.image.url}}" height="40" width="40"/>
    <br>
    {% if project.url %}
    <a href="{{project.url}}">URL</a>
    {% endif %}
    {% endfor %}

{% endblock %}